:root {
  --font-color: black;
  --bg-color: #fff;
}
[data-theme="dark"] {
  --font-color: #fff;
  --bg-color: #161625;
}

body {
  color: var(--font-color);
  background: var(--bg-color);
}

#revealed {
  color: var(--font-color);
}
#lose {
  color: red
}

table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
  }
  
  td, th {
    border: 1px solid var(--font-color);
    text-align: left;
    padding: 8px;
    color: var(--font-color)
  }
