:root {
  --font-color: black;
  --bg-color: #fff;
  --cell-color: #fff;
  --selected-font-color: #fff;
  --selected-cell-color: black;
}
[data-theme="dark"] {
  --font-color: #fff;
  --bg-color: #161625;
  --cell-color: #161625;
  --selected-font-color: #161625;
  --selected-cell-color: #fff
}

body {
  color: var(--font-color);
  background: var(--bg-color);
}

#unselected {
  color: var(--font-color);
  background-color: var(--cell-color);
}
#selected {
  color: var(--selected-font-color);
  background-color: var(--selected-cell-color);
}


table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
  }
  
td, th {
  border: 1px solid grey;
  text-align: left;
  padding: 8px;
  color: var(--font-color);
  background-color: var(--cell-color);
}
