<title>Error</title>
<head>Error:</head>
<body>
    <p>Error: {{error}}</p>
    <p>Please report this error to <a href="https://github.com/noesterle/Nonogram/issues">the Github Repository's Issue's Page</a>.</p>
</body>