<!DOCTYPE html>
<title>{{ title }}</title>
<head>
  <h1>{{ page }}</h1>
  <link id="theme-link" rel="stylesheet" href="{{url_for('static', filename='style.css')}}">
  <p>Play a randomly generated Nonogram!</p>
</head>
<body>
    <div class="theme-switch-wrapper">
      <label class="theme-switch" for="checkbox">
          <input type="checkbox" id="checkbox" >Enable Dark Mode Input!</input>
          <div class="slider round"></div>
      </label>
    </div>
    <script src="{{ url_for('static', filename='theme.js') }}" type="text/javascript" ></script>
    <table>
    {% for row in nonogram %}
        <tr>
        {% set row_num = loop.index0%}
        {% for item in row%}
            {% if row_num == 0 %}
              {% for col_keys in item%}
                <td class="col-key">{%for key in col_keys %}<p>{{key}}</p>{% endfor %}</td> <!-- Concat all the column keys together vertically in one cell -->
              {% endfor %}
            {%else%}
              {% if loop.first %}
                <td class="row-key">{%for key in item %}{{key}} {% endfor %}</td> <!-- Concat all the row keys together horizontally in one cell -->
              {% else %}
                {% for bool in item %}
                  <td class="gram" id="unselected" data="{{bool}}"> </td>
                {% endfor %}
              {% endif %}
            {% endif %}
        {% endfor %}
        </tr>
    {% endfor %}
    </table>
    <script src="{{ url_for('static', filename='play.js') }}" type="text/javascript" ></script>
</body>
